body {
    background-color: black;
    font-size: 20px;
    font-family: 'Play', cursive;
}

.ui {
    color: white;
    padding: 10px;
    border: 5px solid white;
    font-size: 20px;
    font-family: 'Play', cursive;
}

#screen_container {
    width: 960px;
    margin: 0 auto;
}

#screen {
    width: 610px;
    height: 390px;
    position: relative;
    top: 0;
    left: 0;
}

#screen img {
    padding-bottom: 10px;
}

#sidebar {
    width: 290px;
    height: 390px;
    position: relative;
    top: -420px;
    left: 640px;
}

#action {
    height: 110px;
    position: relative;
    top: -420px;
}

#input_area {
    position: relative;
    top: -400px;
    display: block;
}

#input_field {
    color: white;
    background-color: black;
    border: 0; 
    font-size: 20px;
    font-family: 'Play', cursive;
}
